<!DOCTYPE html>
<html>
<head>
    <title>{{username}}'s Contact</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="ttext">
        <h1 class="purple">Contact {{username}}</h1>
        <br/>
        <p>If you would like to get in touch with me, please use the following contact details:</p>
        <br/>
        <p><strong>Name:</strong> {{username}}</p>
        <br/>
        <p><strong>Email:</strong> <a href="mailto:danielmwihoti@gmail.com">danielmwihoti@gmail.com</a></p>
        <br/>
        <p>I am always looking to connect with people in Tech!</p>
    </div>

    <div class="button-container">
        <button class="btn"><a href="/">Home</a></button>
    </div>
</body>
</html>
