<!DOCTYPE html> 
<html>
    <body>
        <p> Dear {{user.username }},</p>

        <p>
            To reset your password

            <a href="{{ url_for('auth.reset_password', token=token, _external=True)}}">click here</a>
        </p>
        <p>Alternatively, You can paste the following link in your browsers address bar:</p>
        <p>{{url_for('auth.reset_password', token=token, _external=True)}}</p>
        <p>If you have not requested for password reset ignore this message.</p>
        <p>Sincerely</p>
        <p>The Microblog Team</p>
    </body>
</html>

</html>