<!DOCTYPE html>
<head>
    <title>Send message</title>
   

</head>
<body>
    <h1>Add-Message</h1>
    <form action="/forms/" method="post">
        <div>
            <label className="flex flex-col mb-3 text-20px" >Message</label>
            <textarea type=" text" rows="4" name="message"
            className='px-3 py-2  border w-96 focus:outline-none  focus:text-red-500' />
            </div>
     <button>Send Mesage</button>      
    </form>


</body>

</html>