<!DOCTYPE html>
<html>

<head>
    <title>To Do App</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>To-Do App</h1>
    <form action="/tasks/" method="post" style="display: flex; flex-direction: column; align-items: center; margin-bottom: 20px;">
        <input type="text" name="task" id="task" placeholder="Add a new task" style=" padding: 20px; width: 50%; margin: 10px; margin-bottom: 10px;"/>
        <button type="submit">Add Task</button>
    </form>

    <h2  className="mx-auto w-1/2">Add Message</h2>

    <form action="/mes/" method="post" style=" text-align: center; display: flex; flex-direction: column; justify-items: center; justify-content: center; margin-bottom: 20px;" >
        <div style="display: flex; flex-direction: column; align-items: center;">
            <label style= "font-weight: bold; text-transform: uppercase; text-underline-position: under; font-size: 30px;" >Message</label>
            <textarea type="text" rows="4" name="mess_t" placeholder="Insert your message" id="mess_t" style=" padding: 20px; width: 50%; margin: 10px;" ></textarea>
        </div>
        <button type="submit" style="margin: auto;">Send Message</button>
    </form>
   


   <h2  className="mx-auto w-1/2">Text Message</h2>
   <form style="text-align: center;" >
    <div >
        <textarea type="text" rows="4" name="txt" placeholder="Add your Text message" id="txt" style="padding: 20px; width: 50%;"></textarea>
    </div>
    <button type="submit" >Send Text</button>

    
   </form>
   <div style="text-align: center; margin-top: 10px;">
    <button id="viewButton"  style=" width: 70px; font-size: 20px;">View</button>
   </div>
   <script>
    const viewButton = document.getElementById('viewButton');

    viewButton.addEventListener('click', ()=> {
        window.location.href = '/form'
    })

    </script>
</body>

</html>