<!DOCTYPE html>
<html>

<head>
    <title>{{shopname}}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <div class="container">
            <div class="flex row jsplit">
                <div class="logo">
                    <a href="/">{{shopname}}</a>
                </div>
                <div class="flex row gap align-center">
                    {% if not user.username %}
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                    {% else %}
                    <span class="light">logged in as {{user.username}}</span>
                    <a href="/logout">Logout</a>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</body>

</html>